<a href="/leagues">Leagues Index</a><br><a href="/clubs">Clubs Index</a>

<h1><%= @club.name %></h1>
<p> Position: <%= @club.position %></p>
<p> City: <%= @club.city %></p>
<p> Previous Winner: <%= @club.previous_winner %></p>
<p>
<%= link_to "Update club", "/clubs/#{@club.id}/edit" %> <br>
<%= link_to "Delete club", "/clubs/#{@club.id}", method: :delete %>