<a href="/clubs">Clubs Index</a>

<h1><%= @league.name %></h1>

<p> Level: <%= @league.level %></p>
<p> Country: <%= @league.country %></p>
<p> Relegation: <%= @league.relegation %></p>
</p>
<p>Number of Clubs: <%= @league.clubs_count %></p>
</br>