<a href="/leagues">Leagues Index</a><br><a href="/clubs">Clubs Index</a>

<h1><%= @league.name %></h1>
<br>
<% @clubs.each do |club| %>
  <p>
  Name: <%= club.name %><br>
  Position: <%= club.position %><br>
  City: <%= club.city %><br>
  Previous Winner: <%= club.previous_winner %>
  </p>
<% end %>
<a href="/leagues/<%= @league.id %>/clubs/new">Create new club</a>